.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-image {
  width: 100%;
  max-width: 300px;
}

label {
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #0b69ff;
  color: white;
  border: none;
  cursor: pointer;
}

.error-message {
  color: #ff0b37;
  margin-top: 10px;
}
